@media (min-width: 576px) {
  .container {
    padding-inline: 0;
  }
}

@media (min-width: 768px) {
  .container {
    padding-inline: 0;
  }
}

@media (min-width: 992px) {
  .container {
    padding-inline: 0.3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-inline: 0;
  }
}

@media (min-width: 1400px) {
  .container {
    padding-inline: 5.6rem;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .navbar-nav .nav-link,
  .navbar-nav .nav-link.active {
    color: black;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .navbar .navbar-nav .nav-item > a.active::after {
    width: 50px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: 576px) {
}
